.table-responsive > .dataTables_wrapper.no-footer > .dataTables_length > label > select{
    color: white;
    background-color: #05192f;
}

.table-responsive > .dataTables_wrapper.no-footer > .dataTables_filter > label > input{
    color: white;
    background-color: #05192f;
}
