<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Usuarios" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Agregar, editar y eliminar</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button type="button" class="btn btn-primary add-btn" >
                                    <i class="ri-add-line align-bottom me-1"></i> 
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                            <thead>
                                <tr class="bg-light" >
                                   <th>Id</th>
                                   <th>Nombre</th>
                                   <th>¿Es admin?</th>
                                   <th>Rol</th>
                                   <th>Nombre empleado</th>
                                   <th>Apellido empleado</th>
                                   <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of usuarios">
                                    <td>{{item.usua_Id}}</td>
                                    <td>{{item.usua_Nombre}}</td>
                                    <td>{{item.usua_EsAdmin}}</td>
                                    <td>{{item.role_Nombre}}</td>
                                    <td>{{item.empe_Nombres}}</td>
                                    <td>{{item.empe_Apellidos}}</td>
                                    <td>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1">
                                                <button type="button" class="btn btn-soft-primary" >
                                                    <i class="ri-edit-2-line"></i> 
                                                    Editar
                                                </button>
                                                <button class="btn btn-soft-danger" >
                                                    <i class="ri-delete-bin-line"></i>
                                                    Eliminar
                                                </button>
                                                <button class="btn btn-soft-secondary" >
                                                    <i class="ri-file-list-2-line"></i>
                                                    Detalles
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->