.is-invalid > div.ng-select-container {
    border-color: rgb(226 101 80);
}

.ng-select-multiple > .ng-select-container > .ng-value-container > .ng-input > input[type="text"]{
    caret-color: white;
    color: white;
}


