.is-invalid > div.ng-select-container {
    border-color: rgb(226 101 80);
}

.ng-select-multiple > .ng-select-container > .ng-value-container > .ng-input > input[type="text"]{
    caret-color: white;
    color: white;
}

ngx-dropzone.custom-dropzone {
  margin: 10px;
}

ngx-dropzone.custom-dropzone1 {
	height: 300px;
	background-color:  rgb(5, 25, 47, 0.8);
	border: 5px dashed #3fa7d6;
	border-radius: 5px;
	font-size: 20px;
}

ngx-dropzone.custom-dropzone2 {
	height: 300px;
	background-color:  rgb(5, 25, 47, 0.8);
	border: 5px dashed #9877d2;
	border-radius: 5px;
	font-size: 20px;
}
