/CasosLegalesBackend/CasosLegales.API/appsettings.json
/CasosLegalesBackend/CasosLegales.API/obj/
/CasosLegalesBackend/CasosLegales.API/bin/

/CasosLegalesBackend/CasosLegales.BusinessLogic/obj/
/CasosLegalesBackend/CasosLegales.BusinessLogic/bin/

/CasosLegalesBackend/CasosLegales.DataAccess/obj/
/CasosLegalesBackend/CasosLegales.DataAccess/bin/

/CasosLegalesBackend/CasosLegales.Entities/obj/
/CasosLegalesBackend/CasosLegales.Entities/bin/

/CasosLegalesBackend/.vs/
CasosLegalesBackend/CasosLegales.API/obj/CasosLegales.API.csproj.nuget.dgspec.json
CasosLegalesBackend/CasosLegales.API/obj/CasosLegales.API.csproj.nuget.g.props
CasosLegalesBackend/CasosLegales.API/obj/Debug/net5.0/CasosLegales.API.assets.cache
CasosLegalesBackend/CasosLegales.API/obj/Debug/net5.0/CasosLegales.API.GeneratedMSBuildEditorConfig.editorconfig
CasosLegalesBackend/CasosLegales.API/obj/project.assets.json
CasosLegalesBackend/CasosLegales.API/obj/project.nuget.cache
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/CasosLegales.BusinessLogic.csproj.nuget.dgspec.json
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/CasosLegales.BusinessLogic.csproj.nuget.g.props
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/Debug/net5.0/CasosLegales.BusinessLogic.assets.cache
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/Debug/net5.0/CasosLegales.BusinessLogic.csproj.AssemblyReference.cache
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/Debug/net5.0/CasosLegales.BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/project.assets.json
CasosLegalesBackend/CasosLegales.BusinessLogic/obj/project.nuget.cache
CasosLegalesBackend/CasosLegales.DataAccess/obj/CasosLegales.DataAccess.csproj.nuget.dgspec.json
CasosLegalesBackend/CasosLegales.DataAccess/obj/CasosLegales.DataAccess.csproj.nuget.g.props
CasosLegalesBackend/CasosLegales.DataAccess/obj/Debug/net5.0/CasosLegales.DataAccess.assets.cache
CasosLegalesBackend/CasosLegales.DataAccess/obj/Debug/net5.0/CasosLegales.DataAccess.csproj.AssemblyReference.cache
CasosLegalesBackend/CasosLegales.DataAccess/obj/Debug/net5.0/CasosLegales.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
CasosLegalesBackend/CasosLegales.DataAccess/obj/project.assets.json
CasosLegalesBackend/CasosLegales.DataAccess/obj/project.nuget.cache
CasosLegalesBackend/CasosLegales.Entities/obj/CasosLegales.Entities.csproj.nuget.dgspec.json
CasosLegalesBackend/CasosLegales.Entities/obj/CasosLegales.Entities.csproj.nuget.g.props
CasosLegalesBackend/CasosLegales.Entities/obj/Debug/net5.0/CasosLegales.Entities.assets.cache
CasosLegalesBackend/CasosLegales.Entities/obj/Debug/net5.0/CasosLegales.Entities.csproj.AssemblyReference.cache
CasosLegalesBackend/CasosLegales.Entities/obj/Debug/net5.0/CasosLegales.Entities.GeneratedMSBuildEditorConfig.editorconfig
CasosLegalesBackend/CasosLegales.Entities/obj/project.assets.json
CasosLegalesBackend/CasosLegales.Entities/obj/project.nuget.cache
