
<app-breadcrumbs title="Municipios" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h1 class="mb-2 mt-2 text-center flex-grow-1">MUNICIPIOS</h1>
            </div>

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal"
                                    data-bs-target="#showModal" (click)="openModal(content)">
                                    <i class="ri-add-line align-bottom me-1"></i>
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                            <thead>
                                <tr class="bg-light">
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Codigo</th>
                                    <th>Departamento</th>
                                    <th style="text-align: center;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of munic">
                                    <td>{{item.muni_Id}}</td>
                                    <td>{{item.muni_Nombre}}</td>
                                    <td>{{item.muni_Codigo}}</td>
                                    <td>{{item.depa_Nombre}}</td>

                                    <td>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1">
                                                <button type="button" class="btn btn-soft-primary" (click)="EditarMunicipio(item,contentEdit)" >
                                                    <i class="ri-edit-2-line"></i>
                                                    Editar
                                                </button>
                                                <button class="btn btn-soft-danger" (click)="optenerIdEliminar(item, modalEliminar)">
                                                    <i class="ri-delete-bin-line"></i>
                                                    Eliminar
                                                </button>
                                                <button class="btn btn-soft-secondary">
                                                    <i class="ri-file-list-2-line"></i>
                                                    Detalles
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="flipModal" class="modal fade flip show">
    <ng-template #content role="document" let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Municipio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
            <div class="modal-body mb-3">
                <div class="row">
                    <div class="col-6">
                        <label>Nombre</label>
                        <input [(ngModel)]="muni.muni_Nombre" type="text" class="form-control " 
                            [ngClass]="{ 'is-invalid': submitted && form['muni_Nombre'].errors }" />
                        <div class="invalid-feedback">Por favor ingrese un Nombre</div>
                    </div>
                    <div class="col-6">
                        <label>Codigo</label>
                        <input [(ngModel)]="muni.muni_Codigo" type="text" class="form-control " 
                            [ngClass]="{ 'is-invalid': submitted && form['muni_Codigo'].errors }" />
                        <div class="invalid-feedback" >Por favor ingrese un Codigo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Departamento</label>
                        <select class="form-control" #selectDepartamento>
                            <option value="" selected hidden>Seleccione un Departamento</option>
                            <option *ngFor="let item of DepartamentoDLL" [value]="item.depa_Id">
                                {{item.depa_Nombre}}
                            </option>
                        </select>
                        <div class="invalid-feedback">Por favor ingrese un Departamento</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="modal.close('Close click')">Cerrar</button>
                    <button type="submit" (click)="GuardarMunicipio()" class="btn btn-success" id="add-btn">Agregar
                        Municipio</button>
                </div>
            </div>
    </ng-template>
</div>


<ng-template #contentEdit role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Editar Municipio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
        <div class="modal-body mb-3">
            <div class="row">
                <div class="col-6">
                    <label>Nombre</label>
                    <input [(ngModel)]="muni.muni_Nombre" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form['muni_Nombre'].errors }" />
                    <div class="invalid-feedback">Por favor ingrese un Nombre</div>
                </div>
                <div class="col-6">
                    <label>Codigo</label>
                    <input [(ngModel)]="muni.muni_Codigo" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form['muni_Codigo'].errors }" />
                    <div class="invalid-feedback">Por favor ingrese un Nombre</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Departamento</label>
                    <select class="form-control" #selectDepartamento>
                        <option value="" selected hidden>Seleccione un Departamento</option>
                        <option *ngFor="let item of DepartamentoDLL" [value]="item.depa_Id" [ngClass]="{ 'is-invalid': submitted && form['depa_Id'].errors }">
                            {{item.depa_Nombre}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && depaIdInValid">Por favor ingrese un Departamento</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cerrar</button>
                <button type="submit" (click)="GaurdarDatosEditados()" class="btn btn-success" id="add-btn">Guardar Municipio</button>
            </div>
        </div>
    
</ng-template>


<ng-template #modalEliminar let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Cerrar" id="btn-close"
                (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>¿Está seguro que desea eliminar el registro?</h4>
                    <p class="text-muted mx-4 mb-0">
                        Al eliminar el registro se eliminará de forma permanente 
                        de nuestra base de datos.
                    </p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">
                    <i class="ri-close-line me-1 align-middle"></i>
                    Cerrar
                </button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" 
                    (click)="MandarDatosEliminar()">
                    Sí, eliminarlo.
                </button>
            </div>
        </div>
    </div>
</ng-template>