Start Breadcrumbs
<!-- <app-breadcrumbs title="Tiposdecaso" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Agregar, editar y eliminar</h4>
            </div>

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal(content)" type="button" class="btn btn-primary add-btn" id="create-btn" >
                                    <i class="ri-add-line align-bottom me-1"></i> 
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                            <thead>
                                <tr class="bg-light ">
                                   <th>Id</th>
                                   <th>Nombre</th>
                                   <th>Descripción</th>
                                   <th style="text-align: center;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tiposdecasos">
                                    <td>{{item.tica_Id}}</td>
                                    <td>{{item.tica_Nombre}}</td>
                                    <td>{{item.tica_Descripcion}}</td>
                                    <td>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1">
                                                <button type="button" class="btn btn-soft-primary" >
                                                    <i class="ri-edit-2-line"></i> 
                                                    Editar
                                                </button>
                                                <button data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openModalDelete(deleteModel, item)" class="btn btn-soft-danger" >
                                                    <i class="ri-delete-bin-line"></i>
                                                    Eliminar
                                                </button>
                                                <button class="btn btn-soft-secondary" >
                                                    <i class="ri-file-list-2-line"></i>
                                                    Detalles
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                 
                </div>
            </div>
        </div>

    </div>

</div> -->



<!-- <ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Caso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form class="tablelist-form" autocomplete="on">
        <div class="modal-body">

            <input type="hidden" name="id" value="" />

            <div class="mb-3" id="modal-id" style="display: none;">
                <label for="id-field" class="form-label">ID</label>
                <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="customername-field" class="form-label">Nombre</label>
                    <input type="text" id="customername-field" class="form-control" placeholder="Ingrese Nombre" required/>
                    <div class="invalid-feedback">El Nombre es requerido.</div>
                </div>
                <div class="mb-3 col-6">
                    <label for="customername-field" class="form-label">Descripcion</label>
                    <input type="text" id="customername-field" class="form-control" placeholder="Ingrese Descripcion" required/>
                    <div class="invalid-feedback">La Descripcion es requerida.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cerrar</button>
                <button type="submit" class="btn btn-success" id="add-btn">Guardar</button>
            </div>
        </div>
    </form>
</ng-template> -->


<!-- <ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>You are about to delete a order ?</h4>
                    <p class="text-muted mx-4 mb-0">Deleting your order will remove all of your information from our
                        database.</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData()"
                    (click)="modal.close('Close click')">Yes, Delete It!</button>
            </div>
        </div>
    </div>
</ng-template> -->