<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Tiposdecaso" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card ribbon-box border shadow-none overflow-hidden">
    <div class="card-body text-muted">
        <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
            <span class="trending-ribbon-text">Listado</span> <i
                class="ri-flashlight-fill text-white align-bottom float-end ms-1"></i>
        </div>
        
        <div class="card- d-flex justify-content-between align-items-center">
            <h1 class="mb-2 mt-2 text-center flex-grow-1">Tipo de Caso</h1>
            <img src="assets/images/layouts/logoLeyMaxima.png"
                alt="Logo" class="logo-image custom-rounded" style="width: 80px; height: 80px;">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal(content)" 
                                        type="button" class="btn btn-primary add-btn" id="create-btn" >
                                    <i class="ri-add-line align-bottom me-1"></i> 
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                            <thead>
                                <tr class="bg-light ">
                                   <th>Id</th>
                                   <th>Nombre</th>
                                   <th>Descripción</th>
                                   <th style="text-align: center;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tiposdecasos">
                                    <td>{{item.tica_Id}}</td>
                                    <td>{{item.tica_Nombre}}</td>
                                    <td>{{item.tica_Descripcion}}</td>
                                    <td>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1">
                                                <button type="button" class="btn btn-soft-primary" (click)="EditarTipoDeCaso(item,contentEdit)">
                                                    <i class="ri-edit-2-line"></i> 
                                                    Editar
                                                </button>
                                                <button data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="optenerIdEliminar(item, deleteModel)"
                                                 class="btn btn-soft-danger" >
                                                    <i class="ri-delete-bin-line"></i>
                                                    Eliminar
                                                </button>
                                                <button class="btn btn-soft-secondary" >
                                                    <i class="ri-file-list-2-line"></i>
                                                    Detalles
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                 
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>  


<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Caso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
        <div class="modal-body">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="customername-field" class="form-label">Nombre</label>
                    <input [(ngModel)]="tdp.tica_Nombre" [ngClass]="{ 'is-invalid': submitted && ticaNombreInvalid }" 
                    type="text" id="customername-field" class="form-control" placeholder="Ingrese Nombre" (blur)="trimTicaNombre()"  required/>
                    <div class="invalid-feedback" *ngIf="submitted && ticaNombreInvalid">El Nombre es requerido.</div>
                </div>
                <div class="mb-3 col-6">
                    <label for="customername-field" class="form-label">Descripcion</label>
                    <input [(ngModel)]="tdp.tica_Descripcion" [ngClass]="{ 'is-invalid': submitted && ticaDescripcionInvalid }" 
                    type="text" id="customername-field" class="form-control" placeholder="Ingrese Descripcion" (blur)="trimTicaDescripcion()"  required/>
                    <div class="invalid-feedback" *ngIf="submitted && ticaDescripcionInvalid">La Descripcion es requerida.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cerrar</button>
                <button type="submit" (click)="GuardarTipoDeCaso()" class="btn btn-success" id="add-btn">Guardar</button>
            </div>
        </div>

</ng-template>


<ng-template #contentEdit role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Editar Tipo de Caso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
        <div class="modal-body mb-3">
            <div class="row">
                <div class="col-6">
                    <label>Nombre</label>
                    <input [(ngModel)]="tdp.tica_Nombre" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && ticaNombreInvalid }" (blur)="trimTicaNombre()"/>
                    <div class="invalid-feedback">Por favor ingrese un nombre</div>
                </div>
                <div class="col-6">
                    <label>Descripcion</label>
                    <input [(ngModel)]="tdp.tica_Descripcion" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && ticaDescripcionInvalid }" (blur)="trimTicaDescripcion()" />
                    <div class="invalid-feedback">Por favor ingrese una descripcion</div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cancelar</button>
                <button type="submit" (click)="GuardarDatosEditados()" class="btn btn-success" id="add-btn">Guardar Tipo de Caso</button>
            </div>
        </div>
    
</ng-template>

<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>¿Está seguro que desea eliminar el registro?</h4>
                    <p class="text-muted mx-4 mb-0">Al eliminar el registro se eliminará de forma permanente 
                        de nuestra base de datos.</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-light link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Cerrar</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="MandarDatosEliminar()"
                    (click)="modal.close('Close click')">Sí, eliminarlo.</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>