<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Empresas" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card ribbon-box border shadow-none overflow-hidden">
    <div class="card-body text-muted">
        <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
            <span class="trending-ribbon-text">{{dateNow.toLocaleDateString()}}</span> <i
                class="ri-flashlight-fill text-white align-bottom float-end ms-1"></i>
        </div>
        
        <div class="card- d-flex justify-content-between align-items-center">
            <h1 class="mb-2 mt-2 text-center flex-grow-1">Empresas</h1>
            <img src="assets/images/layouts/logoLeyMaxima.png"
                alt="Logo" class="logo-image custom-rounded" style="width: 80px; height: 80px;">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="row g-3 needs-validation" novalidate (ngSubmit)="validSubmit()"
                    [formGroup]="validationform">
                    <div class="row">

                        <div class="col-6 mt-3">
                            <label class="form-label">Nombre</label><br />
                            <input type="text" class="form-control" formControlName="emsa_Nombre" required
                                [ngClass]="{'is-invalid': submit && form['emsa_Nombre'].errors}">
                            <div class="invalid-feedback">Por favor, ingrese un nombre</div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">RTN</label><br />
                            <input type="text" class="form-control" formControlName="emsa_RTN"  
                                placeholder="0000-0000-000000" mask="0000-0000-000000" required
                                [ngClass]="{'is-invalid': submit && form['emsa_RTN'].errors}">
                            <div class="invalid-feedback">Por favor, ingrese un RTN</div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Nombre del Representante</label><br />
                            <input type="text" class="form-control" formControlName="emsa_RepresentanteNombre" required
                                [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteNombre'].errors}">
                            <div class="invalid-feedback">Por favor, ingrese un nombre</div>
                        </div>

                        
                        <div class="col-6 mt-3">
                            <label class="form-label">DNI del Representante</label>
                            <input type="text" class="form-control" placeholder="0000-0000-00000" mask="0000-0000-00000"
                                formControlName="emsa_RepresentanteDNI" required
                                [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteDNI'].errors}">
                            <div class="invalid-feedback">Por favor, complete el DNI</div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Sexo</label><br />
                            <div class="row">
                                <div class="col-6 mt-2">
                                    <div class="row">
                                        <div class="col-1">
                                            <input class="form-check-input" type="radio" name="emsa_RepresentanteSexo"
                                                formControlName="emsa_RepresentanteSexo" required value="M"
                                                [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteSexo'].errors}">
                                        </div>
                                        <div class="col-10">
                                            <label class="form-check-label">
                                                Masculino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="row">
                                        <div class="col-1">
                                            <input class="form-check-input" type="radio" name="emsa_RepresentanteSexo"
                                                formControlName="emsa_RepresentanteSexo" required value="F"
                                                [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteSexo'].errors}">
                                        </div>
                                        <div class="col-10">
                                            <label class="form-check-label">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <input hidden class="form-check-input" type="radio" name="emsa_RepresentanteSexo"
                                        formControlName="emsa_RepresentanteSexo" required value="Femenino"
                                        [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteSexo'].errors}">
                                    <div class="invalid-feedback">Por favor, seleccione un sexo</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Telefono</label>
                            <input type="text" class="form-control" placeholder="+504 0000-0000" mask="+000 0000-0000"
                                formControlName="emsa_RepresentanteTelefono" required
                                [ngClass]="{'is-invalid': submit && form['emsa_RepresentanteTelefono'].errors}">
                            <div class="invalid-feedback">Por favor, complete el numero de telefono</div>
                        </div>

    
                        <div class="col-6 mt-3">
                            <label class="form-label">Estado Civil</label>
                            <ng-select required formControlName="eciv_Id"
                                [ngClass]="{'is-invalid': submit && form['eciv_Id'].errors}" 
                                placeholder="Seleccione un Estado Civil">
                                <ng-option *ngFor="let item of EstadoCivilDLL" [ngValue]="item.eciv_Id">
                                    {{item.eciv_Descripcion}}
                                </ng-option>
                            </ng-select>
                            <div class="invalid-feedback">Por favor, selecione un estado civil</div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Departamento</label>
                            <ng-select #selectDepartamento required formControlName="depa_Id"
                                [ngClass]="{'is-invalid': submit && form['depa_Id'].errors}"
                                placeholder="Seleccione un Departamento">
                                <ng-option *ngFor="let item of DepartamentoDLL" [value]="item.depa_Id">
                                    {{item.depa_Nombre}}
                                </ng-option>
                            </ng-select>
                            <div class="invalid-feedback">Por favor, selecione un departamento</div>
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Municipios</label>
                            <ng-select [disabled]="MunicipioDesactivado" required
                                formControlName="muni_Id"
                                [ngClass]="{'is-invalid': submitMunicipio && form['muni_Id'].errors}"
                                placeholder="Seleccione un Municipio">
                                <ng-option *ngFor="let item of MunicipioDDL" [value]="item.muni_Id">
                                    {{item.muni_Nombre}}
                                </ng-option>
                            </ng-select>
                            <div class="invalid-feedback">Por favor, selecione un Municipio</div>
                        </div>

                        <div class="col-12 mt-3">
                            <label class="form-label">Direccion Exacta de la Empresa</label>
                            <textarea class="form-control" rows="3" required formControlName="emsa_Direccion"
                                [ngClass]="{'is-invalid': submit && form['emsa_Direccion'].errors}"></textarea>
                            <div class="invalid-feedback">Por favor, ingrese una direccion</div>
                        </div>
                    </div>
                    <div class="row mt-4" style="text-align: center;">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary col-8">Guardar</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-dark col-8" (click)="regresar()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->